<h1>Olá Mundo!</h1>

<nav>
    <ul>
        <li>
            <a routerLink="/produtos" routerLinkActive="active" ariaCurrentWhenActive="page">Produtos</a>
        </li>
        <li>
            <a routerLink="/clientes" routerLinkActive="active" ariaCurrentWhenActive="page">Clientes</a>
        </li>
        <li>
            <a routerLink="/filmes" routerLinkActive="active" ariaCurrentWhenActive="page">Filmes</a>
        </li>
        <li>
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>